:root {
background-color: steelblue;
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-style:italic;
--bakgrunnsfarge: brown; /* --"fyll inn tilfeldig tekst" og så funksjonen: for å sette en egendefinert variabel */
--tekstfarge: yellow;
--font-stil: normal; 
--bakgrunnsfarge2: black; 
}

h1 {
color: var(--tekstfarge);
background-color: var(--bakgrunnsfarge);
font-style: var(--font-stil);
}

@property --bakgrunnsfarge2 {
syntax: "<color>";
inherits: true;
initial-value: steelblue;
}

h3 {
background-color: var(--bakgrunnsfarge2);
}

@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Jacquard+24+Charted&family=Jaini&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.section2 {
font-family: 'Jacquard 24 Charted', system-ui;
}

.section3 {
font-family: 'Playfair Display', serif;
}

.section4 {
font-family: "Jaini", system-ui;
}

main {
display: flex;
padding: 20px;
gap: 20px;
justify-content:space-between;
}

@media screen and (max-width:650px) {

main {
flex-direction: column; 
}    
}
